<h2>Your cards</h2>
{{#each dealer.p1HoleCards as |card|}}
<img class="player-card" src="images/cards/{{card}}.svg">
{{/each}}
<h2>Flop</h2>
{{#each dealer.flop as |card|}}
<img class="community-card" src="images/cards/{{card}}.svg">
{{/each}}
<h2>turn</h2>
<img class="community-card" src="images/cards/{{dealer.turn}}.svg">
<h2>river</h2>
<img class="community-card" src="images/cards/{{dealer.river}}.svg">
