<form>
  <div class="form-group">
    {{input value=name id="name" placeholder="username"}}
  </div>

  <div class="form-group">
    {{input value=pw id="pw" type="password" placeholder="password"}}
  </div>

  <button class="btn btn-sm btn-primary" {{action 'logIn' users}}>log in</button>
</form>
{{#if failedLogin}}
  <div class="fail-msg">
    <h3>Error: {{failMsg}}</h3>
  </div>
{{/if}}
