<button {{action 'populateDeck'}}>make deck</button>
<button {{action 'deleteDeck'}}>delete deck</button>
{{#each game as |game|}}
  <button {{action 'drawCard' deck game}}>draw card</button>
{{/each}}
