{{table.name}}
{{#if auth.loggedIn}}
  <button {{action 'joinTable' table}}>Join Table</button>
{{/if}}
{{#each table.users as |user|}}
  {{user.name}}
{{/each}}

{{#if showGameTile}}
  {{game-tile table=table}}
{{/if}}
