.form-link {
  color: rgba(0,0,0,.5);
  background-color: lightgrey;
  max-width: 60px;
}

.jumbotron {
  background-image: url(".././images/cards/Casino.jpg");
  background-position: 0%;

}

.form-link:hover {
  cursor: pointer;
  color: rgba(0,0,0,.3);
}

.auth-text {
  margin-top: 100px;
}

.community-card {
  width: 75px;
}

.player-card {
  width: 75px;
}

.table {
  background-color: #009924;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  height: 650px;
  width: 1000px;
  border-radius: 50%;
  margin: 0 auto;
  border: 3em solid #4d2400;
}

.board {
  position: relative;
  top: 40%;
  left: 29%;
}

.player1 {
  position: relative;
  top: 20%;
  left: 0%;
  color: white;
}

.player2 {
  position: relative;
  top: -10%;
  left: 82.5%;
  color: white;
}
.pot-string {
  font-size: 2em;
  color: white;
}
