.form-link {
  color: rgba(0,0,0,.5);
  background-color: lightgrey;
  max-width: 60px;
}
body {
  background-image: url(".././images/cards/Casino.jpg");
  background-repeat: repeat;
  background-position: bottom;
  color: white;
}
.jumbotron {
  background-image: url(".././images/cards/flush.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: black solid 5px;
  margin-top: -3%;
}
input, button {
  color: black;
}

.jumbotron h1 {
  color: yellow;
  font-family: Abril Fatface;
  text-shadow: 0 0 0.5em yellow;
}

.form-link:hover {
  cursor: pointer;
  color: rgba(0,0,0,.3);
}

.auth-text {
  margin-top: 100px;
}

.community-card {
  width: 75px;
}

.player-card {
  width: 75px;
}

.table {
  background-color: #009924;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  height: 650px;
  width: 1000px;
  border-radius: 50%;
  margin: 0 auto;
  border: 3em solid #4d2400;
}

.board {
  position: relative;
  top: 40%;
  left: 29%;
}

.player1 {
  width: 1300px;
  float: left;
  color: white;
  margin-left: 400px;
}

.player2 {
  margin-right: 150px;
  width: 250px;
  float: right;
  color: white;
}
.community {
  margin-top: 200px;
  margin-left: 120px;
}

.pot-string {
  font-size: 2em;
  color: white;
}

.logged {
  color: yellow;
  font-family: Helvetica;
  font-size: 20px;
}

.avatar {
 height: 150px;
 width: 110px;

}

.player-avatar {
  height: 100px;
  width: 90px;
  float: left;
  border: solid black 5px;
}

.player-action {
  margin-top: 20px;
  margin-bottom: 20px;
}
